# Flask Secret Key - generate with: python -c "import secrets; print(secrets.token_hex(32))"
SECRET_KEY=

# Login credentials
ADMIN_PASSWORD=
USER_PASSWORD=

# TCS iON API
TCS_ION_API_URL=
USE_LOCAL_DATA=false

# SMTP
SMTP_USERNAME=
SMTP_PASSWORD=

# Set to true only when running behind HTTPS
HTTPS_ONLY=false
